<!-- Footer -->
  <footer id="footer">
    <ul class="icons">
      <li><a href="mailto:team@pantherasciences.com" class="icon fa fa-envelope"><span class="label">Email</span></a></li>
      <li><a href="https://flickr.com/pantherasciences/" class="icon fa fa-flickr"><span class="label">Flickr</span></a></li>
      <li><a href="https://twitter.com/pantherasci" class="icon fa fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://github.com/pantherasciences" class="icon fa fa-github"><span class="label">GitHub</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Panthera Sciences 2013-2016</li>
    </ul>
  </footer>

  <!-- Scripts -->
  <script src="http://pantherasciences.com/assets/js/jquery.min.js"></script>
  <script src="http://pantherasciences.com/assets/js/jquery.scrollex.min.js"></script>
  <script src="http://pantherasciences.com/assets/js/jquery.scrolly.min.js"></script>
  <script src="http://pantherasciences.com/assets/js/skel.min.js"></script>
  <script src="http://pantherasciences.com/assets/js/util.js"></script>
  <script src="http://pantherasciences.com/assets/js/main.js"></script>
