<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Some Meta Tags -->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="theme-color" content="#1976D2">

  <!-- Facebook Meta -->
  <meta property=”og:title” content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta property=”og:type” content="blog"/>
  <meta property=”og:image” content="{{ site.url }}/some-image.jpg"/> <!-- Make this a square Panthera Logo -->
  <meta property=”og:url” content="{{ site.url }}{{ page.url }}"/>

  <!-- Twitter Meta -->
  <meta name=”twitter:card” content=”summary_large_image”>
  <meta name="twitter:site" content="@pantherasci">
  <meta name="twitter:creator" content="@pantherasci">
  <meta name=”twitter:url” content="{{ site.url }}{{ page.url }}">
  <meta name=”twitter:title” content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name=”twitter:description” content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name=”twitter:image” content="{{ site.url }}/some-image.jpg"> <!-- Make this a square Panthera Logo -->

  <!-- Stylesheets and Whatnot -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - XML" href="{{ "/feed/index.xml" | prepend: site.url }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
