<header id="header">
  <h1><a href="/">Panthera Sciences</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"></a>
        <div id="menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="https://feedburner.google.com/fb/a/mailverify?uri=pantherasciencesblog&loc=en_US">Subscribe</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
