<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="landing">
<div id="page-wrapper">

  <!-- Header -->
    <header id="header" class="alt">
      <h1><a href="index.html">Panthera Sciences</a></h1>
      <nav id="nav">
        <ul>
          <li class="special">
            <a href="#menu" class="menuToggle"></a>
            <div id="menu">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="https://feedburner.google.com/fb/a/mailverify?uri=pantherasciencesblog&loc=en_US">Subscribe</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </header>

        {{ content }}

    {% include footer.html %}
</div>
  </body>

</html>
